# Указанные папки и файлы
Assets/
Packages/
ProjectSettings/
README.md
.gitignore

# Стандартные исключения Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Автогенерируемые файлы Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Сборки
*.apk
*.aab
*.unitypackage
*.app

# Крэш-репорты
sysinfo.txt
crashlytics-build.properties

# OS файлы
.DS_Store
Thumbs.db
